<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>~~Choose you'r test!~~</title>
<style type="text/css">

body{
background:url(resources/templates/backr.png)
}
.multiselect {
  width: 200px;
}
.selectBox {
  position: relative;
}
.selectBox select {
  width: 100%;
  font-weight: bold;
}
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}
#checkboxes label {
  display: block;
}
#checkboxes label:hover {
  background-color: #1e90ff;
}



</style>    
    
<script type="text/javascript">
var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

</script>    

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="text-align: center; border: 3px solid cyan;"  >
	<h1>InnerTester Automation</h1>
    <form action="#" th:action="@{/test}" th:object="${test}" method="post">
    <input placeholder="Enter Username" th:field="*{username}">
    <input placeholder="Enter Password" th:field="*{password}"> 
        
        
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    
    
    <a href=https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=fe1xi3mppo2ecie1rg4v02peiz2ig7&redirect_uri=http://localhost:8080&scope=user_read>Connect with twitch</a>
    
   
    </form>
   
</div>    
</body>
</html>